<div class="calender-week-wrapper">
  <div class="calender-week">
    <span class="week-item">日</span>
    <span class="week-item">一</span>
    <span class="week-item">二</span>
    <span class="week-item">三</span>
    <span class="week-item">四</span>
    <span class="week-item">五</span>
    <span class="week-item">六</span>
  </div>
  <div class="calender-day" v-swiper:daySwiper="daySwiperOption">
    <div class="calender-slide-wrapper swiper-wrapper">
      <div v-for="weekCalender in weekCalender.WeekDayList" class="day-items swiper-slide">
        <div v-for="item in weekCalender.dayList" :data-month="item.currentDay" class="item">
          <span v-on:click="chooseDayHandle(item.currentDay,$event)" :class="item.dayClass">{{item.dayDesc}}</span>
        </div>
      </div>
    </div>
  </div>
</div>