<div class="add-master-wrapper">
  <div class="form-group row col-md-12">
    <label for="masterName" class="col-sm-2 col-form-label text-right">母版名称
      <span style="color:red">*</span>
    </label>

    <div class="col-sm-6">
      <input type="text" class="form-control" id="masterName" v-model="masterModel.masterName" placeholder="母版名称">
    </div>
  </div>
  <div class="form-group row col-md-12">
    <label for="masterDesc" class="col-sm-2 col-form-label text-right">母版描述</label>
    <div class="col-sm-6">
      <textarea class="form-control" id="masterDesc" rows="3" v-model="masterModel.description"></textarea>
    </div>
  </div>
  <div class="form-group row col-md-12">
    <label for="content" class="col-sm-2 col-form-label text-right">母版内容
      <span style="color:red">*</span>
    </label>
    <div class="col-sm-10">
      <quill-editor :options="option" ref="myTextEditor" @change="changeMasterContent"></quill-editor>
      <!--  <vue-html5-editor @change="changeMasterContent" :height="300" id="content"></vue-html5-editor> -->
    </div>
  </div>
  <div class="form-group row col-md-12">
    <label class="col-sm-2 col-form-label text-right"></label>
    <div class="col-sm-6">
      <button :disabled="!masterModel.masterName || !masterModel.content" @click="createMasterHandle" type="button" class="btn  btn-primary col-sm-4">保存</button>
    </div>
  </div>
  <Dialog :message="message" :options="dialogOpts"></Dialog>
</div>