<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item">
      <a @click="choosePrevOrNextHandle('prev')" class="page-link" href="javascript:;">上一页</a>
    </li>
    <li v-for="item in paginationItems" :class="('page-item ' + item.current)">
      <a class="page-link" href="javascript:;" 
        @click="choosePaginationHandle(item.pageIndex)">
        {{item.pageIndex}}
      </a>
    </li>
    <li class="page-item">
      <a @click="choosePrevOrNextHandle('next')" class="page-link" href="javascript:;">下一页</a>
    </li>
  </ul>
</nav>